.header-tool {
  margin-right: 10px;
}

.header-navbar-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.header-navbar-item {
  display: flex;
  justify-content: center;
  gap: 26px;
}

.header-navbar-link {
  text-decoration: none;
  color: #ffffff;
}

.header-navbar-link:hover {
  opacity: 0.6;
}

.header-navbar-icon {
  font-size: 1.6rem;
  margin-right: 14px;
}

.header-navbar-user-img {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
